<footer>
 <section class="layout">
   <% include ../content/socialmedia.ejs %><spam style="margin-left:15px;">
   Developed by Simer - simer@oditiwebs.com</spam>
 </section><!-- layout -->
</footer><!-- footer -->